{% extends "layout.html" %}
{% block body %}
    {% for post in posts %}
        <div class="post">
            <h3>{{post['username']}}</h3>
            <p>{{post['text']}}</p>
        </div>
    {% endfor %}
    {% if g.user %}
        <form action="" method="post">
            <input type="text" placeholder="Message" name="text" value="{{
            request.form.text }}"><br />
            <input class="btn btn-default" type="submit" value="Post Message">
        </form>
    {% endif %}
    {% if error %}
        <p class="error">Error: {{ error }}</p>
    {% endif %}
{% endblock %}
