{% extends "layout.html" %}
{% block body %}
    <h1 class="heading">sign up</h1>
    <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
        request.form.username }}"><br />
        <input type="password" placeholder="Password" name="password" value="{{
        request.form.password }}"><br />
        <input type="password" placeholder="Confirm Password" name="password2" value="{{
        request.form.password2 }}"><br />
        <input type="radio" name="race" value="1">Dwarf
        <input type="radio" name="race" value="2">Human
        <input type="radio" name="race" value="3">Hobbit
        <input type="radio" name="race" value="4">Elf<br />
        <input type="radio" name="class" value="1">Wizard
        <input type="radio" name="class" value="2">Warrior
        <input type="radio" name="class" value="3">Ranger
        <input type="radio" name="class" value="4">Enchanter<br />
        <input type="radio" name="gender" value="1">Male
        <input type="radio" name="gender" value="0">Female<br />
        <input class="btn btn-default" type="submit" value="Sign Up">
    </form>

    {% if error %}
    <p class="error">Error: {{ error }}</p>
    {% endif %}
{% endblock %}
