{% extends "layout.html" %}
{% block body %}
    <h1 class="heading">sign up</h1>
    <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
        request.form.username }}"><br />
        <input type="password" placeholder="Password" name="password" value="{{
        request.form.password }}"><br />
        <input type="password" placeholder="Confirm Password" name="password2" value="{{
        request.form.password2 }}"><br />
        <input type="radio" name="race" value="Dwarf" checked="checked">Dwarf
        <input type="radio" name="race" value="Human">Human
        <input type="radio" name="race" value="Hobbit">Hobbit
        <input type="radio" name="race" value="Elf">Elf<br />
        <input type="radio" name="class" value="Wizard" checked="checked">Wizard
        <input type="radio" name="class" value="Warrior">Warrior
        <input type="radio" name="class" value="Ranger">Ranger
        <input type="radio" name="class" value="Enchanter">Enchanter<br />
        <input type="radio" name="gender" value="Male" checked="checked">Male
        <input type="radio" name="gender" value="Female">Female<br />
        <input class="btn btn-default" type="submit" value="Sign Up">
    </form>

    {% if error %}
    <p class="error">Error: {{ error }}</p>
    {% endif %}
{% endblock %}
